<!DOCTYPE html>
<html lang="en" ng-app="confusionApp"><!-- bootstraps the Angular application on the page -->
<!-- refer Exercise (Instructions): Angular Modules and Controllers  -->

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
        <!-- Bootstrap -->
    <!-- build:css styles/main.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <!-- dishes added for Exercise (Instructions): Angular Modules and Controllers -->
        <!-- ng-init removed and ng-controller added -->
        <div class="row row-content" ng-controller="menuController as menuCtrl">
            <div class="col-xs-12">
                <!-- add nav nav-tabs in Exercise Angular Filters @ 3:07 -->
                <ul class="nav nav-tabs" role="tablist">
                    <!-- ng-click event occurs when users click on a tab -->
                    <!-- ng-click code below the selected tab is activated -->
                    <!-- ng-class="{active:menuCtrl.isSelected(1)} below added @ 10:45 -->
                    <!-- https://docs.angularjs.org/api/ng/directive/ngClass -->
                    <!-- the ng-class directive dynamically binds one or more CSS classes to an HTML element. -->
                    <li role="presentation" ng-class="{active:menuCtrl.isSelected(1)}">
                      <a ng-click="menuCtrl.select(1)" aria-controls="all menu" role="tab">
                        The Menu</a>
                    </li>
                    <li role="presentation" ng-class="{active:menuCtrl.isSelected(2)}">
                      <a ng-click="menuCtrl.select(2)" aria-controls="appetizers" role="tab">
                        Appetizers</a>
                    </li>
                    <li role="presentation" ng-class="{active:menuCtrl.isSelected(3)}">
                      <a ng-click="menuCtrl.select(3)" aria-controls="mains" role="tab">
                        Mains</a>
                    </li>
                    <li role="presentation" ng-class="{active:menuCtrl.isSelected(4)}">
                      <a ng-click="menuCtrl.select(4)" aria-controls="desserts" role="tab">
                        Desserts</a>
                    </li>
                </ul>
              <div class="tab-content"><!-- div containing all the menu panels -->
                <!-- refer this for tab-pane fade in demo/tut http://www.w3schools.com/bootstrap/bootstrap_ref_js_tab.asp -->
                <ul class="media-list tab-pane fade in active">
                <!-- previously we used <li class="media" ng-repeat="dish in dishes">-->
                <!-- dish in menuCtrl.dishes since dishes was assigned to this.dishes 
                     and app.controller('menuController  &  ng-controller="menuController as menuCtrl" -->
                    <!-- <li class="media" ng-repeat="dish in menuCtrl.dishes"> -->
                    <!-- below added for Exercise Angular Filters @ 19:24 -->
                    <!-- below: 'filter' uses the variable filtText from the menucontroller to filter the items from the dishes array. -->
                    <li class="media" ng-repeat="dish in menuCtrl.dishes | filter:menuCtrl.filtText">
                        <div class="media-left media-middle">
                            <a href="#">
                            <img class="media-object img-thumbnail"
                             ng-src={{dish.image}} alt="Uthappizza">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                             <span class="label label-danger">{{dish.label}}</span>
                             <span class="badge">{{dish.price | currency}}</span></h2>
                            <p>{{dish.description}}</p>
                            <!-- previous comment input removed. -->
                        </div>
                    </li>
                </ul>
              </div>
            </div><!-- end class="col-xs-12" -->

        </div><!-- end of class="row row-content" -->
    </div><!-- end of  class="container -->
  <!-- scripts that were here previously now in app.js -->
  <!-- build:js scripts/main.js -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  <!-- endbuild -->
</body>

</html>
